@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

* {
  scroll-behavior: smooth;
  font-family: "Roboto";
}

body {
  @apply bg-[#1a1a1a] text-white;
}

@theme {
  --color-primary: #c9cdcf;
  --color-secondary: #9ecad6;
  --color-ternary: #253900;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 10px;
}
